# Compiled output
dist
tmp
out-tsc

# Dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings

# System Files
.DS_Store
Thumbs.db

# Cache
.nx
